.encabezado {
  font-weight: normal;

  &__contenedor {
    container-type: inline-size;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  &__logo-img {
    max-height: 40px;
  }

  &__navegacion {
    display: flex;
    justify-content: center;
  }

  &__lista {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1rem;
  }

  &__enlace {
    transition: color 0.2s;
    font-weight: normal;
    text-decoration: none;

    &:hover {
      color: lighten($color-accent-100, 10%);
    }
  }

  @container (width < 560px) {
    &__contenedor {
      flex-direction: column;
      align-items: stretch;
      text-align: center;
    }
  }
  @container (width < 420px) {
    &__lista {
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}
