/* ================================================
                     HEADER
================================================ */

.encabezado {
  font-weight: normal;

  /* ---------- CONTENEDOR PRINCIPAL ---------- */
  &__contenedor {
    container-type: inline-size;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-inline: adjustmenu(1rem, 1.5);
  }

  /* ---------- LOGO ---------- */
  &__logo-img {
    max-height: adjustmenu(20px, 2);
  }

  /* ---------- NAVEGACIÓN ---------- */
  &__navegacion {
    display: flex;
    justify-content: center;
  }

  &__lista {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1rem;
  }
  &__lista-item .encabezado__enlace.nav-link {
    font-weight: normal;
    color: white;
    text-decoration: none;

    &:hover {
      color: lighten($color-naranja, 10%);
    }
  }

  /* ---------- RESPONSIVE---------- */
  @container (width < 560px) {
    &__contenedor {
      flex-direction: column;
      align-items: stretch;
      text-align: center;
    }
  }

  @container (width < 420px) {
    &__lista {
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}
