/* ================================================
                 PARTICIPANTES
================================================ */

.participantes {
  /* ---------- TÃTULO PRINCIPAL ---------- */
  &__titulo {
    font-size: 2.5rem;
    font-weight: 700;
  }

  /* ---------- CONTENEDOR FLEX DE CARDS ---------- */
  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }

  /* ---------- TARJETA INDIVIDUAL ---------- */
  &__tarjeta {
    background-color: $color-bg-100;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    border-radius: 0.5rem;
    transition: transform 0.2s ease;
    width: 18rem;
    container-type: inline-size;

    &:hover {
      transform: translateY(-5px);
    }
  }

  /* ---------- IMAGEN DEL PARTICIPANTE ---------- */
  &__imagen {
    object-fit: cover;
    height: 350px;
    object-position: center top;
  }

  /* ---------- CONTENIDO DE LA TARJETA ---------- */
  &__contenido {
    padding: 1rem;
  }

  &__nombre {
    font-weight: 600;
  }

  &__descripcion {
    font-size: 0.95rem;
  }

  /* ----------RESPONSIVE---------- */
  @container (width > 300px) {
    &__nombre {
      font-size: 1.1rem;
    }
    &__descripcion {
      font-size: 1.05rem;
    }
  }

  @container (width < 240px) {
    &__descripcion {
      display: none;
    }
  }
}
