<header class="encabezado bg-primary text-white py-3">
  <div
    class="encabezado__contenedor container d-flex justify-content-between align-items-center"
  >
    <a
      href="/"
      class="encabezado__logo d-flex align-items-center text-white text-decoration-none"
    >
      <img
        src="assets/images/logo-header.png"
        alt="Logo Jornadas"
        height="40"
        class="encabezado__logo-img me-2"
      />
    </a>
    <nav class="encabezado__navegacion">
      <ul class="encabezado__lista nav">
        <li class="encabezado__lista-item nav-item">
          <a href="participantes.html" class="encabezado__enlace nav-link"
            >Participantes</a
          >
        </li>
        <li class="encabezado__lista-item nav-item">
          <a href="articulo.html" class="encabezado__enlace nav-link"
            >Artículo</a
          >
        </li>
        <li class="encabezado__lista-item nav-item">
          <a href="libre.html" class="encabezado__enlace nav-link">Contacto</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
